body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #000000, #0b3d2e);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #00ff88;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    color: #00ff88;
}

.hero button {
    padding: 12px 25px;
    background: #00ff88;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00ff88;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}